<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <h1>This is sidemain</h1>
            <%- include ('../partials/head');%>
        </header>
        <footer>
            <%- include ('../partials/footer'); %>
        </footer>
    </body>
    <script src="main.js"></script>
</html>